<p>
お世話になっております。<br>
下記のリンクにアクセスし、パスワードを変更してください。
</p>

<p>
<%= link_to "パスワードを変更する", "#{Rails.application.credentials[:url]}/password/#{@user.reset_token}/#{@user.email}" %>
</p>

<p><br>
本リンクは2時間のみ有効です。<br>
以上、引き続きよろしくお願いいたします。
</p>

<p><br>
※本メールは自動的に送信されております。<br>
※本メールは送信用のため、ご返信いただいても対応できかねます。<br>
※本メールにお心当たりのない場合は、お手数ですが破棄していただきますようお願いいたします。
</p>
