<p>霞が関用語辞典 運営者各位</p>

<p>以下のとおり、お問い合わせの内容をお知らせします。</p>

<p><%= "ID: #{@contact.id}" %></p>
<p><%= "メールアドレス（返信が必要な場合）: #{@contact.email}" %></p>
<p><%= "カテゴリ: #{@contact.category}" %></p>
<p><%= "内容: #{@contact.text}" %></p>

<p><br>
※本メールは自動的に送信されております。<br>
※本メールは送信用のため、ご返信いただいても対応できかねます。<br>
※本メールにお心当たりのない場合は、お手数ですが破棄していただきますようお願いいたします。
</p>
